.body {
    background-color: maroon;
    background-image: url('https://d33wubrfki0l68.cloudfront.net/8d79b89491cf9ef958be1386776dc937d39266be/1a630/img/particle_background.jpg');
    flex: 1;
    display: flex;
    height: 100vh;
    overflow: scroll;
}

.body__left{
    width: 96%;
}